.control-wrapper{
    border: 1px solid black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    table{
        border: 1px solid black;
        width:30%;
        height: 30%;
        border-collapse:collapse;
        td{
            text-align: center;
        } 
        tbody{
            tr{
                border-top:1px solid black; 
                height: 3rem;
                
                      
            }
        } 
    }
}